
h1 {
    margin: 25px 0;
    font-size: 35px;
}
table tr{
    padding: 10px;
    font-size: 20px;
} 

table th{
    padding: 10px 0;
    border-bottom: 1px solid #000;
}

table thead button{
    width: 35px;
    height: 35px;
    font-size: 20px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid rgba(56, 228, 131, 0.73);
    color: rgb(56, 228, 131) ;
}

table td button{
    width: 35px;
    height: 35px;
    font-size: 20px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid rgba(255, 0, 0, 0.826);
    color:rgba(255, 0, 0, 0.837) ;
}